
html, body {
    height: 100%;
    min-height: 100%;
}
/********Blog Detail Page*********/


.image-foot {
float: left;
margin: auto;
width: 100%;
}

.image-foot .block {
margin-bottom: 0px;
}

.image-foot img {
   margin-right: 23px;
    width: 126px;
}

.image-foot .set-width ul
{
	list-style-type: none;
    text-align: center;
}
.image-foot .footerText
{
	color: #333333;
    float: left;
    font-weight: bold;
    margin: 16px 0;
    text-align: center;
    width: 100%;
}

a
{
	color: #0067FF ;
}

#page:after {
    content: "";
    display: block;
}
#page{
	height: auto;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    min-width:320px;
    float:left;
}
.page-blog .descinfo
{
	/*float:left;*/
}

#container-box
{
	height: 100%;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;

}
.width-set
{
 	max-width: 1240px;
    min-width: 320px;
}

.video-page
{
   margin-top: 34px;
}

.video-container{
	width: 100%;
	max-width: 620px;
	margin: 0 20px 0 0;
	float:left;
}

.video-page .video-container {
      max-width: 97%;
}

.left {
    float: left;
}

.video {
    max-width: 727px;
}

.blog_title
{
	/*color: #DC7110;*/
    font-size: 29px;
    font-weight: normal;
    margin-bottom: 11px;
}

.node-type-blog #main-content #main-content-header  #page-title
{
	display:none;
	
}
.node-type-blog  #main-content
{
	margin:0;
}
.video-summary
{
	border-top: 1px solid #B5B5B5;
    color: #888888;
    float: left;
    font-size: 14px;
    padding-top: 15px;
}
.video-summary .date
{
	background-image: url("images/graycalendar.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 0px !important; 
    margin-right: 30px;
    padding-left: 23px;
}

.posted-comments {
    float: left;
    width: 100%;
}
.node-type-blog .posted-comments img
{
	border: 1px solid #B5B5B5;
    float: left;
    height: 51px;
    width: 70px;
}
.arrow-white
{
	background-image: url("images/arrowwhite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin-left: 2px;
    margin-top: 15px;
    position: relative;
    width: 10px;
}
.node-type-blog #columns .region-sidebar-second {
    float: left;
    max-width: 483px;
    min-width: 300px;
    width: 40%;
}
.node-type-blog #columns  .block.block-views.contextual-links-region {
    float: left;
    margin: 0;
    max-width: 483px;
    min-width: 300px;
}

.node-type-blog #columns .block-inner.clearfix {
    margin: 0;
}
.node-type-blog #columns h2.block-title,.node-type-blog #columns h3.block-title {
    font-size: 29px;
    font-weight: normal;
    margin-bottom: 11px;
    padding: 0;
    text-align: left;
}
.node-type-blog #columns h2.block-title
{
   margin-top: 50px;
}
.node-type-blog #columns  .view-content {
    color: #A3A3A3;
}
.node-type-blog #columns .view-content .views-row {
    float: left;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 20px;
}
.node-type-blog #columns .view-content .views-row .views-field.views-field-title {
    color: #565656;
    float: left;
    font-size: 13px;
    padding: 0;
    width: 100%;
}
.node-type-blog #columns .view-content .views-row .views-field.views-field-title a {
    color: #666666;
    float: left;
    font-weight: bold;
    width: 100%;
}
.node-type-blog #columns .views-row .views-field.views-field-body {
    color: #666666;
    font-size: 13px;
    width: 100%;
}
.node-type-blog #columns .views-row .views-field.views-field-body p {
    margin: 0;
}
.node-type-blog #columns .views-field.views-field-created {
    color: #666666;
    font-size: 13px;
    margin: 0;
}
.node-type-blog #columns .block.block-tagclouds.contextual-links-region {
    float: left;
}

.node-type-blog #columns .resizable-textarea .grippie {
    display: none;
}
.node-type-blog #columns .form-textarea-wrapper textarea {
    -moz-box-sizing: inherit;
    border: 1px solid #B5B5B5;
    color: #565656;
    float: left;
    font-size: 14px;
    height: 60px;
    margin-left: -2px;
    max-width: 586px;
    padding: 10px;
    width: 83.8%;
    margin:0;
}
.node-type-blog #columns .form-item.form-type-textarea.form-item-comment-body-und-0-value {
    margin: 0;
}
/* .node-type-blog #columns #comment-form #edit-comment-body {
    display:none;
} */
.node-type-blog #columns .comment .submitted {
    color: #888888;
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin-left: 20px;
}
.node-type-blog #columns .comment-header {
    color: #0E68C5;
    font-size: 18px;
    font-weight: normal;
}
.node-type-blog #columns .comment-title {
    float: left;
    font-size: 29px;
    margin: 0;
}
.node-type-blog #columns .comment .submitted p {
    margin: 0;
}
.node-type-blog #columns .date-time.permalink > a,.comment .submitted .username {
    color: #888888;
}
.node-type-blog #columns .field-type-text-long {
    color: #888888;
    float: left;
    font-size: 14px;
    width: 100%;
}
.node-type-blog #columns .comments-det h3.comment-title a {
    color: #0E68C5;
    font-size: 18px;
     float: left;
    font-weight: normal;
}
.node-type-blog #columns .node ul.links li a {
    color: #0E68C5;
}
.node-type-blog #columns .node ul.links li a:hover{
	text-decoration:underline;
}
.node-type-blog #columns .author-datetime > span {
    color: #888888;
    float: left;
    font-size: 14px;
    line-height: 27px;
    margin-left: 20px;
}
.node-type-blog #columns .comment ul.links {
    float: left;
    width: 100%;
}
.node-type-blog #columns #comment-form #edit-comment-body{
	width:100%;
	margin:0;
}
.node-type-blog #columns .post-comment >img
{
 border: 1px solid #B5B5B5;
    float: left;
    height: 51px;
    width: 70px;

}

.node-type-blog #columns .post-comment
{
	  float: left;
    width: 100%;
}
.node-type-blog #columns .post-comment #comment-form
{
	 display: inline-block;
    float: left;
    width: 85%;
}
.node-type-blog #columns .comment{
	float:left;
	width:100%;
}
.node-type-blog #columns #comment-form > div {
    float: left;
    width:100%;
}
.node-type-blog #columns .form-item.form-type-textarea.form-item-comment-body-und-0-value > label {
    display: none;
}
.node-type-blog #columns #content{
	padding:0;
}

.node-type-blog #columns .form-textarea-wrapper.resizable.textarea-processed.resizable-textarea,.node-type-blog #columns .form-item.form-type-textarea.form-item-comment-body-und-0-value,.node-type-blog #columns #edit-comment-body > div {
    float: left;
    width: 100%;
}

/********Blog Detail Page*********/

/*************Order Page****************/
.hide {
    display: none;
}
.page-cart #columns #main-content
{
    color: #666666;
    float: left;
    margin: 30px 0;
    width: 100%;
}
.page-cart #columns #main-content a
{
	color: #666666;
}
.page-cart #columns #main-content #page-title
{
	display:none;
}
.page-cart #columns #main-content .view-header
{
	float:left;
}
.page-cart #columns #main-content .view-header h3
{
	/*color: #DC7110;*/
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px;
    width: 100%;
    float:left;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom .view-content
{
	float: left;
    width: 100%;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom .view-content #edit-actions
{
	   float: right;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom .view-content #edit-actions #edit-submit
{
	 float: left;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom .view-content #edit-actions #edit-checkout
{
	float: left;
    margin-left: 10px;
}

.page-cart #columns #main-content .view-header .order-numb
{
	margin:0 0 40px;
}

.page-cart #columns #main-content #content
{
	padding:0px;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table
{
    width: 99%;
    margin:0;
    color: #666666;
}
.page-cart   #columns #main-content #content .view-commerce-cart-form-custom{
	margin:0 15px;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table thead tr:first-child
{
	background: none repeat scroll 0 0 #D9D8D8 !important;
    font-size: 18px;
    height: 48px;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody .even td
{
	background: none repeat scroll 0 0 #F9F9F9 !important;
    border: 1px solid #BEBEBE;
    height: 80px;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr th:first-child,
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td:first-child
{
	  padding: 18px 11px;
	  font-weight:normal !important;
	   text-align: left;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table thead tr td
,.page-cart #columns #main-content #content .view-commerce-cart-form-custom table thead tr th
{
	 padding:5px;
	 font-weight: normal;
    
}
#main-content #edit-actions input.form-submit {
    background: none repeat scroll 0 0 #E67900;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    margin: 30px 18px 70px 0;
    /*padding: 0px 20px;*/
    font-weight: normal;
}
/******For Video Comment Button*******/
.node-type-video #main-content #edit-actions input.form-submit {
	margin: 30px 18px 70px 2px;

	}
/******For Video Comment Button*******/
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td img
{
	cursor: pointer;
    height: 50px;
    width: 70px;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td input
{
	background-image: url("images/remove.png");
	 background-color: transparent;
    background-repeat: no-repeat;
    background-position:0 0;
    display: inline-block;
    height: 32px;
    border:none;
    line-height: 27px;
    padding-left: 32px;
    font-size:16px;
    margin-right: 10px;
    color:#6C6C6C;
    font-weight: normal !important;
}

.page-cart #columns #main-content #content table tr td input
{
	/*border:3px solid green;*/
	background-image: url("images/remove.png");
	 background-color: transparent;
    background-repeat: no-repeat;
    background-position:0 0;
    display: inline-block;
    height: 32px;
    border:none;
    line-height: 27px;
    padding-left: 32px;
    font-size:16px;
    margin-right: 10px;
    color:#6C6C6C;
    font-weight: normal !important;
}
.page-cart #columns #main-content #content table
{
	margin:0px !important; 
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table .views-field-line-item-title
{
	font-weight:normal;
} 

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table  tbody .odd td
{
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.page-cart #views-form-commerce-cart-form-default > div > table > tbody > tr {
	border-top: 1px solid #CCC !important;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td
{
	padding:5px;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td a
{
	color: #6C6C6C;
    margin-right: 10px;
    text-decoration: none;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table .views-field-line-item-title a
{
	font-weight:bold;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td:first-child
{
	 padding: 18px 11px;
     text-align: left;
}

.page-cart #columns #main-content #content .line-item-summary
{
	background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #BEBEBE;
    line-height: 35px;
     margin: 0;
    width: 98.9%;
}
.page-cart #columns #main-content #content .line-item-summary .line-item-total
{
	margin-right: 50px;
}
.page-cart #columns #main-content #content #edit-actions #edit-submit
{
	display:none;
}
.page-cart #columns #main-content #content #edit-actions #edit-checkout
{
	float:right;
}
.page-cart #columns #main-content #content .line-item-summary .line-item-total-raw
{
	color: #3c922d;
    font-weight: bold;
    margin-right: -11px;
	
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom .line-item-summary .line-item-total
{
	  margin-right: 35px;
}

.page-cart #columns #main-content #content .view-commerce-cart-form-custom .line-item-summary .line-item-total .line-item-total-raw
{
	  color: #3C922D;
	  font-weight: bold;
	  margin-right:-11px;
}
/*Hide Order Number on cart page*/
div.view-commerce-cart-form-custom span.order-numb{
	   display:none;
}
/*****User Login Page******/
#user-register-form,#user-pass,#user-login
{
	margin-left: 15px;
}

/*****End of User Login Page*****/

/******New Homapage******/
/***Overide Css property***/
.container
{
	max-width:100% !important;
}
.sidebar-first .content-inner 
{
	margin:0% !important;
}
.sidebar-second .content-inner 
{
	margin:0% !important;
}
.region-sidebar-second 
{
	 margin-left: 0% !important;
}
/****Overide Css property*****/

.front #columns
{
	color: #333333;
    font-size: 14px;
	margin: 22px auto auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    max-width: 97%;
}
#block-views-homepage-block-block
{
	background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 6px;
     padding: 0 26px 26px;
    margin-bottom: 30px;
    
}
#block-views-homepage-block-block .views-field-title
{
	 font-size: 45px;
     margin: 20px 0 10px;
}
#block-views-homepage-block-block .views-field-title .field-content a
{
	color: #333333;
}
#block-views-homepage-block-block .views-field-body .field-content a
{
	color: #428BCA;
    text-decoration: none;
}
#block-views-homepage-block-block .field-content p {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 15px;
}
#block-views-homepage-block-block .views-field-view-node .field-content a
{
	border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    /*background-color: #DC7110;*/
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
}

.front #columns #block-views-homepageevents-block .view-header p,.front #columns .view-homepagevideo .view-header p
{
	   margin: 0 0 10px;
}
.front #columns #block-views-homepageevents-block .view-header .btn-primary,.front #columns .view-homepagevideo .view-header .btn-primary,.liveeventbtn {
    /*background-color: #DC7110;*/
    border-color: #357EBD;
    color: #FFFFFF;
}
.front #columns #block-views-homepageevents-block .view-header .btn,.front #columns .view-homepagevideo .view-header .btn,.liveeventbtn
 {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.front #columns #block-views-homepageevents-block .views-field-title,.front #columns .view-homepagevideo .views-field-title {
    font-size: 24px;
    margin-bottom: -13px;
    margin-top: 20px;
}
.front #columns #block-views-homepageevents-block table,.front #columns .view-homepagevideo table
{
	border:none;
}
.front #columns #block-views-homepageevents-block table tr td,.front #columns .view-homepagevideo table tr td
{
	padding:0;
}

.front #columns #block-views-homepageevents-block .field-content p,.front #columns .view-homepagevideo .field-content p
{
	margin:0;
	width: 268px;
}
.front #columns #block-views-homepageevents-block .views-field-field-category,.front #columns .view-homepagevideo .views-field-field-category
{
	margin:0 0 10px;
	height: 21px;
}
.front #columns #block-views-homepageevents-block .views-field-body,.front #columns .view-homepagevideo .views-field-body
{
	height: 21px;
}
.front #columns #block-views-homepageevents-block .views-field-field-category a,.front #columns .view-homepagevideo .views-field-field-category  a
{
	color:#0067FF;
}
.front #columns #block-views-homepageevents-block .views-field-nothing .subscribe_price,.front #columns .view-homepagevideo .views-field-nothing .subscribe_price
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    float: left;
    left: 0;
    padding: 5px 14px;
    position: absolute;
    top: -36px;
    width: 242px;
    height: 20px;
}
.front #columns #block-views-homepageevents-block .views-field-nothing .subscribe_price .event_subscribe,.front #columns .view-homepagevideo .views-field-nothing .subscribe_price .event_subscribe
{
	float:right;
}
.front #columns #block-views-homepageevents-block .views-field-nothing,.front #columns .view-homepagevideo .views-field-nothing 
{
	position:relative;
}
.front #columns #block-views-homepageevents-block .views-field-nothing .subscribe_price .event_subscribe a,.front #columns .view-homepagevideo .views-field-nothing .subscribe_price .event_subscribe a
{
	color:#FFFFFF;
}
.front #columns #block-views-homepageevents-block .block-inner, .front #columns #block-views-homepagevideo-block .block-inner
{
	border-bottom:1px solid #EEEEEE;
}
.front #columns #block-views-homepageevents-block .view-homepageevents .view-content .views-row,.front #columns .view-homepagevideo .view-content .views-row
{
	float:left;
	width:385px;
	margin-bottom: 15px;
}

.node-type-event-display .set-width,.page-cart .set-width,.page-checkout .set-width,.page-user .set-width,.page-search-node .set-width {
   width: 93%;
}
.page-blog #main-content .node-blog ul.links li
{
	float:left;
	clear:both;
}
.page-blog #main-content-header
{
	display:none;
}
.page-blog #main-content .video
{
	 max-width: 100%;
}
.page-blog #main-content .video .video-summary
{
	border:none !important;
}


.front #columns #block-views-homepageevents-block .field-content ,.front #columns .view-homepagevideo .field-content 
{
	  margin-top: 21px;
}




/******New Homapage******/
/******Taxonomy page********/
.page-taxonomy-term #columns.set-width {
    width: 93%;
}

.page-taxonomy-term #content {
    padding: 0;
}


.page-taxonomy-term .view-content
{
	 float: left;
    margin-left: 0;
    width: 100%;
}


.page-taxonomy-term .view-content .field-content p
{
	margin:0px !important;
	color: #6C6C6C !important;
}

.page-taxonomy-term  #page #columns #content .view-content .views-row {
    float: left;
    height: 256px;
    margin: 0 13px 15px 0;
    max-width: 269px;
    width: 31%;;
}

.page-taxonomy-term .view-content .field-content a {
    color: #0067FF;
    float: left;
    font-size: 16px;
    width: 100%;
	text-transform: capitalize;
}
/*****Taxonomy page********/

/*************Order Page****************/
@media only screen and (max-width: 767px) {
	/****New Homepage******/
	#block-views-homepage-block-block .views-field-title
	{
		font-size: 36px;
	}
	#block-views-homepage-block-block
	{
		padding:30px;
	}
	.front #page #columns #topcontent h2
	{
		margin-left:0px;
	}
	.front #columns
	{
		width:90%;
	}
	.front #columns #block-views-homepageevents-block .view-homepageevents .view-content .views-row,
	.front #columns .view-homepagevideo .view-content .views-row
	 {
	 	width:100%;
	 }
	 .region-header .signin
	 {
		 padding: 9px 20px 10px;
		 margin-right: 22px;
	 }
	 .not-logged-in .down-arrow-black
	 {
	    right: 15px;
	 }
	/*****New Homepage******/
	/*order **/
	.page-cart #columns #main-content #content .view-commerce-cart-form-custom table{
	 width: 97%;
	 }
	 .page-cart #columns #main-content #content .view-commerce-cart-form-custom table thead tr:first-child{
	 display:none;
	 }
	 .hide {
    display: inline-block;
	}
	 .page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td{
	 padding:0;
	 }
	 
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody .even td
{
	  background: none repeat scroll 0 0 #FFFFFF !important;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td,
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td:first-child{
	font-size: 14px;
    width: 85%;
    padding:0;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody td,
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody td:first-child {
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding: 0;
    width: 85%;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody .even td{
	height:auto;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tr td input{
	 padding-left: 7px;
	 font-size:0;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody td.views-field.views-field-edit-delete{
	
	float: right;
    margin: -45px 40px 0 0;
    width: 0;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom .line-item-summary{
	
	 width: 96.9%;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody td {
    margin: 0 15px;
}
.page-cart #views-form-commerce-cart-form-default div table tr {
    float: left;
    padding: 15px 0;
}
.page-cart #columns #main-content #content .views-field.views-field-commerce-total.price{
	display:none;
}
.page-cart #columns #main-content #content .view-commerce-cart-form-custom table tbody  td.views-field-commerce-unit-price price{
	 float: right;
    font-weight: bold;
    width: 16%;
	
}
.page-cart #views-form-commerce-cart-form-default > div > table > tbody > tr{
	
	  width: 100%;
}
	/***/
	
	
.node-type-blog .comments-det
{
	width: 59%;
}
.node-type-blog #columns .post-comment #comment-form{
	width:68%;
}
.node-type-blog .indented .comments-det
{
	width:53%;
}
#comment-form #edit-actions{
	margin-left:74%;
}
.node-type-blog #columns .author-datetime > span{
	font-size: 13px; margin-left: -20px;
}
.page-search-node #main-content
{
	margin: 20px !important;
}

.node-type-video #main-content #edit-actions input.form-submit {
	margin: 30px 18px 70px -10px !important;

	}
	
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
	/****New Homepage******/
	.front #columns 
	{
		width:95%;
	}
	.front #columns #block-views-homepageevents-block .view-homepageevents .view-content .views-row,.front #columns .view-homepagevideo .view-content .views-row
	{
		float:left;
		width:50%;
	}
	.front #columns #block-views-homepageevents-block .view-header,.front #columns .view-homepagevideo .view-header
	{
		width:100%;
	}
	
	/****New Homepage******/
}
@media only screen and (max-width: 1024px) {
	#page{
	padding:0;
}
.node-type-blog #columns .region-sidebar-second{
	display:none;
}
.video-page .video-container {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 90%;
}
}

@media only screen and (max-width: 767px) {

	.region-image-footer .set-width a {
		float: left;
	    margin-bottom: 14px;
	    width: 100%;
	}


	.image-foot img {
   margin-right: 23px;
    width: 126px;
	}

}

/*********CSS FOR BUGS RAISED********/
#breadcrumb
{
	display:none;
}
/*********CSS FOR BUGS RAISED ENDS HERE********/
